//- layout.pug
doctype html
html
  head
    title Oslo Ballet Academy
    block scripts
    block style
  body
    nav#navbar
        ul
          div#logo
            img(src="../static/img/1.png")
            | OBA
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Services]
          li #[a(href="/") Class Information]
          li #[a(href="/contact") Contact Us]

    block content
    
    footer#footer
      | 2020 Copyright © Ansh Dholakia | All rights reserved
    